{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Les films{% endblock title%}
{% block body %}
    {% if filmsAvailable %}
    <h1>Les films actuellement disponible</h1>
    <ul id="actual-films">
    	{% for film in filmsAvailable %}
    	<li id="film-{{ film.videoId }}">{{ film.title }} - {{ film.price }}€</li>
    	{% endfor %}
    </ul>
    {% endif %}
    {% if filmsComingSoon %}
    <h1>Les films prochainement disponible</h1>
    <ul id="coming-soon-films">
    	{% for film in filmsComingSoon %}
    	<li id="film-{{ film.videoId }}">{{ film.title }} - {{ film.price }}€</li>
    	{% endfor %}
    </ul>
    {% endif %}
{% endblock body %}